<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <style>
        body {
            text-align: center;
            padding: 10px 20px;
        }
    </style>
</head>

<body>
    <div>
        <h2><%= email %></h2>
        <p>Welcome to the App <%= firstname + ' ' + lastname %></p>
        <a href="<%= buttonLink %>">
            <button>Activate Account</button>
        </a>
    </div>
</body>

</html>